*.dat
*.db
*.gz
*.log
*/log
__pycache__
chromium/
google-*/
gnupg/*.gpg
libreoffice/
mpd/database
mpd/playlists/
mpd/state
mpd/sticker.sql
mpv/watch_later/
mutt/cache/
mutt/temp/
pentadactyl/info/
pulse/
systemd/user/*.wants/
transmission/resume/
transmission/torrents/
vim/bundle/
vim/.netrwhist
weechat/logs/*
weechat/*/autoload/
weechat/keys/
zsh/.zcompdump
zsh/.zsh_history
