[Unit]
Description=Music Player Daemon

[Service]
Environment=PULSE_PROP=application.icon_name=sound
ExecStart=/usr/bin/mpd --no-daemon
ExecStop=/usr/bin/mpd --kill

[Install]
WantedBy=default.target
Also=mpd.socket
