[Unit]
Description=Music Player Daemon
Requires=pulseaudio.socket

[Service]
Environment=PULSE_PROP=application.icon_name=sound
ExecStart=/usr/bin/mpd --no-daemon

[Install]
WantedBy=default.target
Also=mpd.socket
